/* General reset for margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.25rem;
  background-color: #141414; 
  /* Dark background like Netflix */
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-left li {
  margin-right: 20px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.header-left li:hover {
  color: #e50914; /* Red color on hover */
}

.header-right ul {
  display: flex;
  list-style: none;
}

.header-right li {
  margin-left: 20px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.header-right li:hover {
  color: #e50914; /* Red color on hover */
}
